<div class="container">
  <div class="content">
    <h1>Here was your question:</h1>
    <h2><%= @question %></h2>

    <h1>The answer is...</h1>
    <h2><%= @answer %>
  </div>
</div>

<p><%= link_to 'Go to the question page', ask_path %></p>
