// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

#submit {
  background-color: rgb(180, 180, 255);
  padding: 10px, 5px;
  border-radius: 3px;
}

.container {
  display: flex;
  text-align: center;
  margin: 40px auto;
  border-radius: 4px;
  box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.2);
  height: 500px;
  justify-content: center;
  align-items: center;
}
